In [51]:
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from pymongo import MongoClient

In [32]:
data = pd.read_csv("data.csv")
data.head()

,R_fighter,B_fighter,Referee,date,location,Winner,title_bout,weight_class,B_avg_KD,B_avg_opp_KD,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Adrian Yanez,Gustavo Lopez,Chris Tognoni,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Bantamweight,0.000,0.0,...,0,1,0,0,Orthodox,170.18,177.80,135.0,31.0,27.0
1,Trevin Giles,Roman Dolidze,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Middleweight,0.500,0.0,...,0,3,0,0,Orthodox,182.88,187.96,185.0,32.0,28.0
2,Tai Tuivasa,Harry Hunsucker,Herb Dean,2021-03-20,"Las Vegas, Nevada, USA",Red,False,Heavyweight,NaN,NaN,...,1,3,0,0,Southpaw,187.96,190.50,264.0,32.0,28.0
3,Cheyanne Buys,Montserrat Conejo,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,False,WomenStrawweight,NaN,NaN,...,0,0,0,0,Switch,160.02,160.02,115.0,28.0,25.0
4,Marion Reneau,Macy Chiasson,Mark Smith,2021-03-20,"Las Vegas, Nevada, USA",Blue,False,WomenBantamweight,0.125,0.0,...,1,2,2,0,Orthodox,167.64,172.72,135.0,29.0,43.0

In [74]:
client =  MongoClient("mongodb+srv://mel518:databasepass@testtrain.ppavz.mongodb.net/?retryWrites=true&w=majority")
db = client['Project4']
collection = db['Data']
data_dict = data.to_dict('records')
# Insert collection
collection.insert_many(data_dict)

In [33]:
# not interested in draws
data['Winner'].value_counts()

Red     3979
Blue    1923
Draw     110
Name: Winner, dtype: int64

In [39]:
data.nunique()

R_fighter       1514
B_fighter       1987
Referee          204
date             550
location         166
                ...
R_Height_cms      23
R_Reach_cms       25
R_Weight_lbs      62
B_age             31
R_age             29
Length: 144, dtype: int64

In [42]:
data.dropna()
df = data[data['Winner'] != 'Draw']
df.drop(columns=['R_fighter', 'B_fighter', 'Referee', 'date', 'location','weight_class','title_bout'], inplace=True)

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Winner,B_avg_KD,B_avg_opp_KD,B_avg_SIG_STR_pct,B_avg_opp_SIG_STR_pct,B_avg_TD_pct,B_avg_opp_TD_pct,B_avg_SUB_ATT,B_avg_opp_SUB_ATT,B_avg_REV,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
0,Red,0.000,0.0,0.420000,0.49500,0.330,0.36000,0.500,1.0000,0.00,...,0,1,0,0,Orthodox,170.18,177.80,135.0,31.0,27.0
1,Red,0.500,0.0,0.660000,0.30500,0.300,0.50000,1.500,0.0000,0.00,...,0,3,0,0,Orthodox,182.88,187.96,185.0,32.0,28.0
2,Red,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,3,0,0,Southpaw,187.96,190.50,264.0,32.0,28.0
3,Blue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,Switch,160.02,160.02,115.0,28.0,25.0
4,Blue,0.125,0.0,0.535625,0.57875,0.185,0.16625,0.125,0.1875,0.25,...,1,2,2,0,Orthodox,167.64,172.72,135.0,29.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6007,Red,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,Southpaw,190.50,NaN,260.0,NaN,NaN
6008,Red,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,Southpaw,177.80,NaN,170.0,NaN,NaN
6009,Red,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,Orthodox,182.88,NaN,210.0,NaN,NaN
6010,Red,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,Orthodox,187.96,NaN,225.0,NaN,30.0
6011,Red,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,Orthodox,177.80,NaN,210.0,18.0,NaN

In [43]:
X = df.drop(columns=['Winner'])
Y = df['Winner']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [44]:
X_train

,B_avg_KD,B_avg_opp_KD,B_avg_SIG_STR_pct,B_avg_opp_SIG_STR_pct,B_avg_TD_pct,B_avg_opp_TD_pct,B_avg_SUB_ATT,B_avg_opp_SUB_ATT,B_avg_REV,B_avg_opp_REV,...,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_Stance,R_Height_cms,R_Reach_cms,R_Weight_lbs,B_age,R_age
2655,0.017578,0.000000,0.388047,0.388633,0.271094,0.264824,0.078125,0.144531,0.125,0.003906,...,2,0,0,0,Orthodox,177.80,180.34,170.0,36.0,29.0
1043,0.188477,0.000977,0.524775,0.514961,0.004883,0.520283,0.023438,0.500000,0.000,0.250977,...,4,2,3,0,Orthodox,190.50,193.04,155.0,34.0,31.0
1639,0.000000,0.000000,0.767500,0.527500,0.165000,0.600000,0.000000,0.750000,0.000,0.000000,...,6,2,1,0,Orthodox,172.72,172.72,145.0,31.0,33.0
5503,0.000000,0.250000,0.332500,0.507500,0.367500,0.580000,0.250000,2.000000,0.250,0.000000,...,1,0,2,0,Orthodox,185.42,190.50,205.0,40.0,30.0
2773,0.562500,0.519531,0.615703,0.315273,0.148906,0.502930,0.125000,0.031250,0.000,0.000000,...,2,9,0,0,Orthodox,185.42,195.58,240.0,37.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3850,0.750000,0.000000,0.565000,0.335000,0.000000,0.175000,0.750000,0.500000,0.000,0.000000,...,0,1,0,0,Orthodox,170.18,175.26,135.0,31.0,28.0
5290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,0,0,0,Orthodox,170.18,177.80,145.0,34.0,22.0
5325,0.000000,0.000000,0.200000,1.000000,1.000000,0.000000,0.000000,3.000000,0.000,0.000000,...,0,0,2,1,Southpaw,177.80,187.96,145.0,34.0,30.0
5489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,2,0,0,Orthodox,185.42,195.58,170.0,28.0,26.0
885,0.750000,0.500000,0.595000,0.527500,0.187500,0.035000,0.000000,0.000000,0.000,0.000000,...,1,3,0,2,Orthodox,185.42,200.66,205.0,27.0,39.0

In [45]:
X_dummies_train = pd.get_dummies(X_train)
X_dummies_test = pd.get_dummies(X_test)
y_label_train = LabelEncoder().fit_transform(df['Winner'])
y_label_test = LabelEncoder().fit_transform(df['Winner'])
print(f"Train: {X_dummies_train.shape}, Test: {X_dummies_test.shape}")

Train: (4131, 144), Test: (1771, 143)

In [50]:
X_dummies_train

,B_avg_KD,B_avg_opp_KD,B_avg_SIG_STR_pct,B_avg_opp_SIG_STR_pct,B_avg_TD_pct,B_avg_opp_TD_pct,B_avg_SUB_ATT,B_avg_opp_SUB_ATT,B_avg_REV,B_avg_opp_REV,...,B_Stance_Open Stance,B_Stance_Orthodox,B_Stance_Sideways,B_Stance_Southpaw,B_Stance_Switch,R_Stance_Open Stance,R_Stance_Orthodox,R_Stance_Sideways,R_Stance_Southpaw,R_Stance_Switch
2655,0.017578,0.000000,0.388047,0.388633,0.271094,0.264824,0.078125,0.144531,0.125,0.003906,...,0,0,0,1,0,0,1,0,0,0
1043,0.188477,0.000977,0.524775,0.514961,0.004883,0.520283,0.023438,0.500000,0.000,0.250977,...,0,1,0,0,0,0,1,0,0,0
1639,0.000000,0.000000,0.767500,0.527500,0.165000,0.600000,0.000000,0.750000,0.000,0.000000,...,0,1,0,0,0,0,1,0,0,0
5503,0.000000,0.250000,0.332500,0.507500,0.367500,0.580000,0.250000,2.000000,0.250,0.000000,...,0,0,0,0,1,0,1,0,0,0
2773,0.562500,0.519531,0.615703,0.315273,0.148906,0.502930,0.125000,0.031250,0.000,0.000000,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3850,0.750000,0.000000,0.565000,0.335000,0.000000,0.175000,0.750000,0.500000,0.000,0.000000,...,0,1,0,0,0,0,1,0,0,0
5290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,1,0,0,0
5325,0.000000,0.000000,0.200000,1.000000,1.000000,0.000000,0.000000,3.000000,0.000,0.000000,...,0,0,0,1,0,0,0,0,1,0
5489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,1,0,0,0
885,0.750000,0.500000,0.595000,0.527500,0.187500,0.035000,0.000000,0.000000,0.000,0.000000,...,0,1,0,0,0,0,1,0,0,0